/**
 * Generic elements
 ****************************************/
*, :before, :after
{
	box-sizing: border-box;
}

html
{
	font-family: $font-family-base;
	line-height: $line-height-base;
}

body
{
	background: $body-bg url('/assets/images/bg_body.jpg') 50% 50% no-repeat;
	background-size: cover;
	color: $body-color;
	padding: $spacer-lg $spacer $spacer;
	min-height: 100vh;
	overflow-x: hidden;
}

strong
{
	font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6
{
	@include text-brand;
	line-height: $heading-line-height;
}

h1
{
	font-size: $h1-font-size;
	margin: $h1-margin;
}

h2
{
	font-size: $h2-font-size;
	margin: $h2-margin;
}

h3
{
	font-size: $h3-font-size;
	margin: $h3-margin;
}

h4
{
	font-size: $h4-font-size;
	margin: $h4-margin;
}

h5
{
	font-size: $h5-font-size;
	margin: $h5-margin;
}

h6
{
	font-size: $h6-font-size;
	margin: $h6-margin;
}

figure
{
	margin: 0;

	img
	{
		display: block;
	}
}

img
{
	max-width: 100%;
}


/**
 * Layout / Common blocks
 ****************************************/
#app
{
	max-width: 800px;
	margin: 0 auto;
}

.box-shadow
{
	box-shadow: $box-shadow;
}

.box-shadow-sm
{
	box-shadow: $box-shadow-sm;
}


.panel
{
	@include text-brand;
	@extend .box-shadow;
	font-size: $font-size-md;
	background: $secondary;
	color: $white;
	border: $border;
	padding: $spacer;
	text-align: center;
}

.modal
{
	&,
	&-backdrop
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;

	&-backdrop
	{
		background: rgba($black, .7);
		z-index: 3;
	}

	&-content
	{
		@extend .box-shadow;
		background: $white;
		border: $border;
		width: $content-max-width;
		max-width: 90vw;
		max-height: 100vh;
		overflow: auto;
		padding: $spacer;
		position: relative;
		z-index: 4;
	}

	&-header
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0 0 $spacer-sm;

		.btn
		{
			margin: 0 0 0 $spacer;
		}
	}

	&-title
	{
		flex: 1;
		margin: 0;
	}
}

/**
 * Main Title
 ****************************************/
.main-title
{
	@include text-outline;
	color: $primary;
	text-align: center;
}

/**
 * Buttons
 ****************************************/
.btn
{
	@include btn-reset;
	@include text-brand;
	@extend .box-shadow-sm;
	border: $border;
	font-size: $font-size-md;
	padding: 10px;
	transition: $transition-base;
	flex-shrink: 0;
	flex-grow: 0;

	&[disabled]
	{
		opacity: .7;
		cursor: not-allowed;
	}

	&:active
	{
		transform: translate($spacer-xs, $spacer-xs);
		box-shadow: $box-shadow-none;
	}

	&-primary
	{
		background: $primary;
		color: $black;

		&:hover,
		&:focus
		{
			background: $primary-light;
		}
	}
}


/**
 * Forms
 ****************************************/
.form-group
{
	margin: 0 0 $spacer-sm;
}

.form-label
{
	display: block;
	margin: 0 0 $spacer-xs;
}

.form-input
{
	flex: 1;

	&-group
	{
		display: flex;
		align-items: center;

		.btn
		{
			margin: 0 0 0 $spacer;
		}
	}
}

// Some <ng-select> overrides
// Need to use the same selectors in order to have the same specificity
body .ng-select
{
	font-family: $font-family-base;
	font-size: $ng-select-value-font-size;
	text-align: left;

	.ng-select-container,
	.ng-dropdown-panel
	{
		border: $border;
	}

	&.ng-select-single .ng-select-container .ng-value-container .ng-input
	{
		top: 12px;
	}
}


/**
 * Lists
 ****************************************/
.info-list
{
	list-style: none;
	padding: 0;
	margin: 0 0 $spacer;

	&-item
	{
		display: flex;

		& + &
		{
			margin-top: $spacer-xs;
		}
	}

	&-label
	{
		font-weight: $font-weight-bold;
		margin-right: $spacer-xs;
		width: 120px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	&-value
	{
		flex: 1;
	}
}



/**
 * Columns
 ****************************************/
.col
{
	@media screen and (min-width: $content-max-width)
	{
		flex: 1;
		padding: 0 $spacer-sm;

		&s
		{
			display: flex;
			margin: 0 (-$spacer-sm);
		}
	}
}


/**
 * Charts
 ****************************************/
.bar-chart
{
	margin: 0 0 $spacer-sm;

	&-legend
	{
		display: flex;
		justify-content: space-between;
		font-weight: $font-weight-bold;
		margin-bottom: $spacer-xs;
	}

	&-data
	{
		background: rgba($black, .2);
	}

	&-value
	{
		background: $primary;
		height: $spacer-xs;

		&.low { background: $red; }
		&.average { background: $orange; }
		&.high { background: $green; }
	}
}


/**
 * Super Hero Detail
 ****************************************/
.superhero
{
	&-img
	{
		@extend .box-shadow-sm;
		border: $border;
		flex-grow: 0;
		flex-shrink: 0;
	}

	&-biography,
	&-appearance,
	&-powerstats
	{
		margin-top: $spacer;
	}

	@media screen and (max-width: $content-max-width - 1px)
	{
		&-img
		{
			img
			{
				width: 100%;
			}
		}
	}

	@media screen and (min-width: $content-max-width)
	{
		&-identity
		{
			display: flex;
			align-items: flex-start;
		}

		&-biography
		{
			margin: 0;
			flex: 1;
		}

		&-appearance
		{
			width: 250px;
			margin: 0 $spacer;
		}
	}
}

