/**
 * Generic elements
 */
*, :before, :after
{
	box-sizing: border-box;
}

html
{
	font-family: $font-family-base;
	line-height: $line-height-base;
}

body
{
	background: $body-bg url('/assets/images/bg_body.jpg') 50% 50% no-repeat;
	background-size: cover;
	color: $body-color;
	padding: $spacer-lg $spacer $spacer;
	min-height: 100vh;
	overflow-x: hidden;
}

strong
{
	font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6
{
	@include text-brand;
	line-height: $heading-line-height;
}

h1
{
	font-size: $h1-font-size;
	margin: $h1-margin;
}

h2
{
	font-size: $h2-font-size;
	margin: $h2-margin;
}

h3
{
	font-size: $h3-font-size;
	margin: $h3-margin;
}

h4
{
	font-size: $h4-font-size;
	margin: $h4-margin;
}

h5
{
	font-size: $h5-font-size;
	margin: $h5-margin;
}

h6
{
	font-size: $h6-font-size;
	margin: $h6-margin;
}


/**
 * Layout / Common blocks
 */
#app
{

	max-width: 800px;
	margin: 0 auto;
}

.panel
{
	@include text-brand;
	font-size: $font-size-lg;
	background: $secondary;
	color: $white;
	border: $border;
	box-shadow: $box-shadow;
	padding: $spacer;
	text-align: center;
}

.modal
{
	&,
	&-backdrop
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;

	&-backdrop
	{
		background: rgba($black, .7);
		z-index: 3;
	}

	&-content
	{
		background: $white;
		border: $border;
		box-shadow: $box-shadow;
		max-width: 1000px;
		max-height: 100vh;
		overflow: auto;
		padding: $spacer;
		position: relative;
		z-index: 4;
	}
}

/**
 * Main Title
 */
.main-title
{
	@include text-outline;
	color: $primary;
	text-align: center;
}

/**
 * Buttons
 */
.btn
{
	@include btn-reset;
	@include text-brand;
	border: $border;
	box-shadow: $box-shadow-sm;
	font-size: $font-size-md;
	padding: 10px;
	transition: $transition-base;

	&[disabled]
	{
		opacity: .7;
		cursor: not-allowed;
	}

	&:active
	{
		transform: translate($spacer-xs, $spacer-xs);
		box-shadow: $box-shadow-none;
	}

	&-primary
	{
		background: $primary;
		color: $black;

		&:hover,
		&:focus
		{
			background: $primary-light;
		}
	}
}


/**
 * Forms
 */
.form-label
{
	display: block;
	margin: 0 0 $spacer-xs;
}

.form-input
{
	flex: 1;

	&-group
	{
		display: flex;
		align-items: center;

		.btn
		{
			flex-grow: 0;
			flex-shrink: 0;
			margin: 0 0 0 $spacer;
		}
	}
}

// Some <ng-select> overrides
// Need to use the same selectors in order to have the same specificity
body .ng-select
{
	font-family: $font-family-base;
	font-size: $font-size-md;
	text-align: left;

	.ng-select-container,
	.ng-dropdown-panel
	{
		border: $border;
	}

	&.ng-select-single .ng-select-container .ng-value-container .ng-input
	{
		top: 12px;
	}
}

/**
 * Search Panel
 */
.or-separator
{
	margin: $spacer-sm 0 $spacer-xs;
	text-align: center;
}


/**
 * Detail Panel
 */
.detail-panel
{

}
