@mixin text-brand()
{
	font-family: $font-family-brand;
	letter-spacing: $brand-letter-spacing;
}

@mixin text-outline($width: 0.02em, $color: $black)
{
	text-shadow: 	($width) 0 $color,
					0 ($width) $color,
					($width) ($width) $color,
					(-$width) 0 $color,
					0 (-$width) $color,
					(-$width) $width $color,
					$width (-$width) $color,
					(-$width) (-$width) $color;
}

@mixin btn-reset()
{
	background: 0;
	border: 0;
	padding: 0;
	cursor: pointer;

	&:focus {
		outline: 0;
	}
}
