// Typo
$font-family-base: 				'Roboto', sans-serif !default;
$font-family-brand: 			'Bangers', $font-family-base !default;

$font-weight-normal: 			400 !default;
$font-weight-bold: 				500 !default;

$font-size-base: 				1rem !default;
$line-height-base: 				1.5 !default;
$heading-line-height: 			1.1 !default;
$brand-letter-spacing: 			0.05em !default;


$font-size-max: 				px-to-rem(100px) !default;
$font-size-xxl: 				px-to-rem(60px) !default;
$font-size-xl: 					px-to-rem(48px) !default;
$font-size-lg: 					px-to-rem(32px) !default;
$font-size-md: 					px-to-rem(24px) !default;
$font-size-sm: 					px-to-rem(14px) !default;
$font-size-xs: 					px-to-rem(12px) !default;

$h1-font-size: 					$font-size-max !default;
$h2-font-size: 					$font-size-xl !default;
$h3-font-size: 					$font-size-lg !default;
$h4-font-size: 					$font-size-md !default;
$h5-font-size: 					$font-size-base !default;
$h6-font-size: 					$font-size-sm !default;

$h1-font-size-sm: 				$font-size-xxl !default;
$h2-font-size-sm: 				$font-size-lg !default;
$h3-font-size-sm: 				$font-size-md !default;
$h4-font-size-sm: 				$font-size-base !default;
$h5-font-size-sm: 				$font-size-sm !default;
$h6-font-size-sm: 				$font-size-xs !default;

$h1-margin: 					0 0 .5em !default;
$h2-margin: 					0 0 .5em !default;
$h3-margin: 					0 0 .5em !default;
$h4-margin: 					.5em 0 1.5em !default;
$h5-margin: 					.5em 0 1.5em !default;
$h6-margin: 					.5em 0 1.5em !default;

$heading-styles: (
					h1:	($h1-font-size, $h1-font-size-sm, $h1-margin),
					h2:	($h2-font-size, $h2-font-size-sm, $h2-margin),
					h3:	($h3-font-size, $h3-font-size-sm, $h3-margin),
					h4:	($h4-font-size, $h4-font-size-sm, $h4-margin),
					h5:	($h5-font-size, $h5-font-size-sm, $h5-margin),
					h6:	($h6-font-size, $h6-font-size-sm, $h6-margin)
				) !default;


// Colors
$white:							#fff !default;
$black:							#000 !default;
$gray:							#555 !default;
$gray-light:					#777 !default;
$yellow: 						#ffdB0d !default;
$blue: 							#199be2 !default;
$red: 							#dc3545 !default;
$orange:						#fd7e14 !default;
$green: 						#28a745 !default;

$primary: 						$yellow !default;
$primary-light: 				lighten($primary, 10%) !default;
$primary-dark: 					darken($primary, 10%) !default;
$secondary: 					$blue !default;

$body-bg: 						$secondary !default;
$body-color: 					$black !default;


// Spacers
$spacer: 						30px !default;
$spacer-xs: 					$spacer * .25 !default;
$spacer-sm: 					$spacer * .5 !default;
$spacer-md: 					$spacer * 2 !default;
$spacer-lg: 					$spacer * 3 !default;
$spacer-xl: 					$spacer * 4 !default;

$content-max-width: 			1000px !default;



// Effects / Animations
$border: 						3px solid $black !default;
$border-sm: 					1px solid $black !default;

$box-shadow: 					$spacer-sm $spacer-sm rgba($black, .5) !default;
$box-shadow-sm: 				$spacer-xs $spacer-xs rgba($black, .5) !default;
$box-shadow-none: 				0 0 rgba($black, .5) !default;

$transition-base: 				all .2s linear !default;


// <ng-select> overrides
$ng-select-highlight:			$black !default;
$ng-select-primary-text:		$black !default;
$ng-select-disabled-text:		#f9f9f9 !default;
$ng-select-border:				$black !default;
$ng-select-border-radius:		0 !default;
$ng-select-bg:					$white !default;
$ng-select-selected:			$primary !default;
$ng-select-marked:				$primary !default;
$ng-select-box-shadow:			0 !default;
$ng-select-placeholder:			$gray-light !default;
$ng-select-height:				$spacer-md !default;
$ng-select-value-padding-left:	$spacer-sm !default;
$ng-select-value-font-size:		$font-size-base !default;
