<div class="panel animated flipInX">
	<div class="form-group">
		<label class="form-label" translate="SearchPage.SearchLabel" for="search-field"></label>

		<div class="form-input-group">
			<div class="form-input">
				<ng-select
					[(ngModel)]="currentSuperHero"
					[trackByFn]="trackByFn"
					labelForId="search-field"
					placeholder="{{ 'SearchPage.SearchHelp' | translate }}"
					notFoundText="{{ 'Common.NoResultFound' | translate }}">
					<ng-option *ngFor="let superHero of superHeroes" [value]="superHero">
						{{ superHero.name }} <em *ngIf="superHero.biography?.fullName">({{ superHero.biography?.fullName }})</em>
					</ng-option>
				</ng-select>
			</div>

			<button class="btn btn-primary" type="button" (click)="onSelect()" translate="Common.Go" [disabled]="!currentSuperHero">
			</button>
		</div>
	</div>

	<div class="form-label" translate="Common.Or">
	</div>

	<button class="btn btn-primary" type="button" (click)="onRandomSelect()" translate="SearchPage.RandomSuperHero">
	</button>
</div>
