<h1 translate="SearchPage.Title" class="main-title"></h1>

<ng-container *ngIf="isLoaded">
	<superheroes-search-form
		[superHeroes]="superHeroes"
		[currentSuperHero]="currentSuperHero"
		(selectSuperHero)="onSelectSuperHero($event)">
	</superheroes-search-form>

	<superhero-detail
		[currentSuperHero]="currentSuperHero"
		(close)="onResetSuperHero()">
	</superhero-detail>
</ng-container>

<div class="panel" *ngIf="!isLoaded">
	<p *ngIf="isLoading" translate="SearchPage.Loading"></p>
	<p *ngIf="hasError" translate="SearchPage.Error"></p>
</div>
